In [1]:
import pandas as pd

# let's import the dataset as a pandas dataframe
df = pd.read_csv("../datasets/OnlineRetail.csv")

In [2]:
# let's inspect some few entries
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [27]:
# let's see if there are columns with missing data
df.info() # there are missing descriptions and customer ids

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
# group transactions by invoice
grouped_by_invoice = df.groupby(['InvoiceNo'])

In [11]:
# product that sold the most (using total amount of items sold)
products_sold = df.groupby(["StockCode"]).agg({'Quantity': 'sum'})

max_sold_quantity = products_sold["Quantity"].max()

# list products with max amount of products sold
products_sold[products_sold["Quantity"] == max_sold_quantity]

           Quantity
StockCode
22197         56450

In [21]:
# customer that spent the most money I (money spent by invoice)

# calculate money spent per product in an invoice (one invoice can have multiple products)
df_with_spent = df.assign(Spent= df["Quantity"] * df["UnitPrice"])

# aggregate money spent per invoice
# we assume an invoice belong to a single customer
spent_by_invoice = df_with_spent.groupby(['InvoiceNo']).agg({'Spent': 'sum', 'CustomerID': 'first'})

spent_by_invoice.head()

            Spent  CustomerID
InvoiceNo
536365     139.12     17850.0
536366      22.20     17850.0
536367     278.73     13047.0
536368      70.05     13047.0
536369      17.85     13047.0

In [24]:
# customer that spent the most money II (money spent by customer)
spent_by_customer = spent_by_invoice.groupby(['CustomerID']).agg({'Spent': 'sum'})

max_money_spent = spent_by_customer["Spent"].max()

# list customers that spent the most
spent_by_customer[spent_by_customer["Spent"] == max_money_spent]

                Spent
CustomerID
14646.0     279489.02

In [56]:
# distribution of products per country (i.e. what products are bought per country)

# nr of entries per country
# df["Country"].value_counts()
# nr countries = 38
#df["Country"].value_counts().count()

# nr of entries per product
#df["StockCode"].value_counts()
# nr of products = 4070
# df["StockCode"].value_counts().count()

# df_grouped_by_country = df.groupby(["Country", "StockCode"])
# nr entries grouped by country and stockcode = 19839

df_grouped_by_country = df.groupby(["Country"])
# per_product_per_country = df_grouped_by_country.groupby["StockCode"]
#per_product_per_country = df_grouped_by_country["StockCode"].value_counts().head()
# df_grouped_by_country["StockCode"].value_counts()

Country      StockCode
Australia    22720        10
             20725         9
             21731         9
             22090         8
             22138         8
                          ..
Unspecified  85179C        1
             85180A        1
             85180B        1
             85212         1
             85213         1
Name: StockCode, Length: 19839, dtype: int64

In [57]:
# distribution of countries per product (i.e which countries buy the most a particular product)

In [58]:
# average unit price per product

# do all product instances have the same price if they are the same product?
df.groupby(["StockCode"])["UnitPrice"].value_counts() # No. A given product can have different prices per transaction

StockCode     UnitPrice
10002         0.85         50
              1.66         14
              1.63          7
              0.00          2
10080         0.39         21
                           ..
gift_0001_40  33.33         2
              34.04         1
gift_0001_50  41.67         3
              42.55         1
m             2.55          1
Name: UnitPrice, Length: 17304, dtype: int64

In [59]:
# average unit price per product
df.groupby(["StockCode"])["UnitPrice"].mean()

StockCode
10002            1.056849
10080            0.376667
10120            0.210000
10123C           0.487500
10123G           0.000000
                  ...
gift_0001_20    15.038000
gift_0001_30    21.941250
gift_0001_40    33.566667
gift_0001_50    41.890000
m                2.550000
Name: UnitPrice, Length: 4070, dtype: float64

In [60]:
# average unit price across all products
df.groupby(["StockCode"])["UnitPrice"].mean().mean()

4.930757294891827

In [61]:
# this should be equivalent to the mean of the whole column.
# why is this not the case?
df["UnitPrice"].mean()

4.611113626088513

In [62]:
# ratio between price and quantity PER invoice (not per product)
# df.groupby(["InvoiceNo"]).agg({'Spent': 'sum', 'CustomerID': 'first'})

In [ ]:
# nr transactions per country